@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}


html {
  scroll-behavior: smooth;
}

/*css for all*/
.checked {
  color: orange;
  }
section{
  padding: auto;
}
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h3{
  font-size: 20px;
  font-weight: 300px;
  padding-top: 14px;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 20px 10px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

.search-container{
  box-sizing: border-box;
  padding-left:16px;
  ;
}

#top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
  background:white;
  box-shadow: 0 20px 50px rgba(0,0,0,0.10);
  z-index: 100;
  position:sticky;
  top: 0;
  left: 0;
  width: 100%;
  
}


#headings{
  display: flex;
  
  align-items: center;
  justify-content: space-between;
}

#headings li{
  list-style-type: none;
  
  padding: 10px 15px;
}

#headings li a{
  text-decoration: none;
  color: black;
  font-weight: 550;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) ease;

}

#headings li a:hover{
  color:green;
}

#banner{
  background-image: url("Assets/banner2.png");
  background-color: transparent;
  height: 99vh;
  width: 100%;
  background-position: top 25% right 0;
  padding: 0 70px;
  
} 

#header marquee{
  background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%)
}



#banner button{
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 22px;
  border-radius: 100%;
}

#banner h1{
  font-family: 'Times New Roman', Times, serif;
}

/* Services*/

#services{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#services .servicon{
  
  width: 180px;
  text-align: center;
  padding: 25px 0;
  box-shadow: 10px 1px 10px rgba(0,0,0,0.10);
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px ;
}


/* Top products*/

#topproduct{
  text-align: center;
  
}

#topproduct .product{
  
  width: 23%;
  min-width: 250px;
  padding: 9px 5px;
  border: 0 solid #cce7d0;
  box-shadow: 20px;
  margin: 20px;
  position: relative;
}

#topproduct .product img{
  width: 100%;
  border-radius: 20px;
}

#topproduct .product .description{
  text-align: start;
  padding: 10px 0;
}

#topproduct .product h4{
  color: #088178;  
}

#topproduct .product i{
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color:white;
  border-radius: 50px;
  box-shadow: 10px;
  font-weight: 500px;
  position: absolute;
  bottom: 30px;
  right: 23px;
}

#topproduct .Collection{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  
}

/*Trending*/

#Trending{
  text-align: center;
}

#Trending .product2{
  width: 23%;
  min-width: 250px;
  padding: 9px 5px;
  border: 0 solid #cce7d0;
  box-shadow: 20px;
  margin: 20px;
  position: relative;
}

#Trending .product2 img{
  width: 100%;
  border-radius: 20px;
}

#Trending .product2 .description{
  text-align: start;
  padding: 10px 0;
}

#Trending .product2 h4{
  color: #088178;  
}

#Trending .product2 i{
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color:white;
  border-radius: 50px;
  box-shadow: 10px;
  font-weight: 500px;
  position: absolute;
  bottom: 30px;
  right: 23px;
}

#Trending .Collection2{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  
}

/*Buy1get*/
#buy1get1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
#buy1get1 .buy1get1_box{
  
  background-image: url("Assets/buy1get1.png");
  background-color: transparent;
  height: 45vh;
  width: 32%;
  background-position: top 25% right 0;
  padding:  40px;
  text-align: start;
  margin-right: -30px;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  min-width: 530px;
}

#buy1get1 .buy1get1_box1 {
  
  background-image: url("Assets/upcomingsale.png");
  background-color: transparent;
  height: 45vh;
  width: 32%;
  background-position: top 25% right 0;
  padding:  40px;
  text-align: start;
  margin-right: 0;
  flex-direction: column;
  background-size:cover;
  
  min-width: 500px;
  
}
#buy1get1 .buy1get1_box1:hover button{
  background: #04AA6D;
}



#buy1get1 .buy1get1_box1 h4{
 color:black;
}
#buy1get1 .buy1get1_box1 img{
  width: 100%;
  align-content: center;
}

#buy1get1 .buy1get1_box button{
  text-decoration: none;
  background: color 0;;
  border: 10px;
  padding: 10px 20px 10px 40px;
  border: 2px double black; 
  list-style-type: none; 
  margin: 5px;
  padding-top: 10px;
  padding-right: 20px; 
  padding-bottom: 10px;
  padding-left: 20px;
  opacity: 0.9;
  color: black; 
}
#buy1get1 .buy1get1_box:hover button{
  opacity: 1;
  background: #04AA6D;
  
}
#buy1get1 .buy1get1_box1 button{
  text-decoration: none;
  background: color 0; ;
  border: 10px;
  padding: 10px 20px 10px 40px;
  border: 2px double black; 
  list-style-type: none; 
  margin: 5px;
  padding-top: 10px;
  padding-right: 20px; 
  padding-bottom: 10px;
  padding-left: 20px;
  opacity: 0.9;
  color: black;
}
#buy1get1 .buy1get1_box1 button:hover{
  opacity: 10;
  background: #04AA6D;
}


#buy1get1 .buy1get1_box .button .h5{
font-weight: 300px;
}

#buy1get1 .buy1get1_box2{
  
  background-image: url("Assets/tshirt-removebg-preview1.png");
  background-color: transparent;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 40vh;
  width: 35%;
  background-position: top 25% right 0;
  padding:  50px;
  text-align: start;
  margin-left: -50px;
  min-width: 20%;
  text-decoration: none;
}

#buy1get1 .buy1get1_box2 button{
  text-decoration: none;
  background: color 0; ;
  border: 10px;
  padding: 10px 20px 10px 40px;
  border: 2px double black; 
  list-style-type: none; 
  margin: 5px;
  padding-top: 10px;
  padding-right: 0; 
  padding-bottom: 10px;
  padding-left: 20px;
  opacity: 0.9;
  color: black;
  
}

#buy1get1 .buy1get1_box2 h4{
padding-bottom: 10px;
text-align: start;
color:black;

}

#buy1get1 .buy1get1_box3{
  
  background-image: url("Assets/sunglass.png");
  
  background-color: transparent;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 40vh;
  width: 30%;
  background-position: top 25% right 0;
  padding:  50px;
  text-align: start;
  min-width: 20%;
  text-align: right;  
}


#buy1get1 .buy1get1_box3 button{
  text-decoration: none;
  background: color 0; ;
  border: 10px;
  padding: 10px 20px 10px 40px;
  border: 2px double black; 
  list-style-type: none; 
  margin: 5px;
  padding-top: 10px;
  padding-right: 20px; 
  padding-bottom: 10px;
  padding-left: 20px;
  opacity: 0.9;
  color: black;
}
#buy1get1 .buy1get1_box4{
  
  background-image: url("Assets/footware21.png");
  background-color: transparent;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 40vh;
  width: 35%;
  background-position: top 25% right 0;
  padding:  50px;
  text-align: start;
  margin-left: -50px;
  min-width: 20%;
}
#buy1get1 .buy1get1_box4 button{
  text-decoration: none;
  background: color 0; ;
  border: 10px;
  padding: 10px 20px 10px 40px;
  border: 2px double black; 
  list-style-type: none; 
  margin: 5px;
  padding-top: 10px;
  padding-right: 20px; 
  padding-bottom: 10px;
  padding-left: 20px;
  opacity: 0.9;
  color: black;
}


/*Subscribe*/

#subscribe{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("Assets/newsletter-background.webp");
  background-repeat: no-repeat;

}

#subscribe h4{
  font-size: 20px;
  font-weight: 500;
  color:blue;
}

#subscribe p span{
  color:red
}

#subscribe .form{
  display: flex;
  width: 30%;
  
}

#subscribe input{
  height: 3rem;
  padding: 0 1.24em;
  width: 100%;
  border :1px double black;
  font-size: 14px;
  border-radius: 4px;
  outline: none;

}

#subscribe .form button{
  height: 3rem;
  padding: 0 1.24em;
  background-color: #04AA6D;
  color: #eef7f6;
  white-space: inherit;
  padding:  13px;
  border :1px double black;
  width: 100%;
  border-radius: 4px;

}

/*footer*/
footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo{
  margin-bottom: 30px;
}

footer h4{
  font-size: 14px;
  margin:0 0 8px 0;

}

footer p{
font-size: 13px;
margin: 0 0 8px 0;

}
footer a{
font-size: 13px;
text-decoration: none;
color:#222;
margin-bottom: 10px;
}

footer a:hover{
  color: #04AA6D;
}
footer .follow{
  margin-top: 20px;

}

footer .follow i{
  color:black;
  padding-right: 4px;
  cursor: pointer;
  
}
footer .follow i:hover{
  color: #04AA6D;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

/*Product details*/
#productdetails{
width: 60%;
margin-left: 30px;
text-align: left;
}

#productdetails img{
  border: 1px double pink; 
}


#productdetails{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
#productdetails .pro1{
width: 40%;
padding-top: 30px;
padding-right: 10px;
}


#productdetails .pro1 select{
display: block;
padding: 5px 10px;
margin-bottom: 10px;
}

#productdetails .pro1 input{
  width: 50px;
  height: 47px;
  padding-left: 5px;
  padding-right: 10px;
  font-size: 15px;
  padding-top: 10px;
  justify-content: space-between;


  }
  #productdetails .pro1 input:focus{
    outline: none;
  }
  #productdetails .pro1 button{
    height: 47px;
    padding-top: 10px;
    display: inline;
    background-color:#1b7972;
    color: white;
    font-size: 14px;
    font-weight: 600;
    width: 40%; 
  }

  /*About us*/

  #aboutus_header{
    background-image: url("Assets/about.jpg");
    height: 20vh;
    background-position: center;
   }


  #aboutus_header h2{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    text-align:center;
    color:white;
  }
 
  #header{
    display: flex;
    align-items: center;
  }
  #header img{
    width: 50%;
    height: auto;
  }

  #header div {
    padding-left: 40px;
  }
/*contactus*/
#contact_us{
 
  background-image: url("Assets/contactus.jpg");
  width: 100%;
  height: 35vh;
  background-position: center;
}

#contact_us h2{
  padding-top: 90px;
  padding-left: 10px;
  padding-bottom: 20px;
  text-align:center;
  color:white;
}

#contact_us p{
  text-align:center ;
  color: black;
}
#contact{
  display: flex;
  justify-content: space-between;
}


