@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Common styles for all sections */
.checked {
  color: orange;
}

section {
  padding: auto;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h3 {
  font-size: 20px;
  font-weight: 300px;
  padding-top: 14px;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 20px 10px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

/* Header styles */
#top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
  background: white;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.10);
  z-index: 100;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

#headings {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#headings li {
  list-style-type: none;
  padding-bottom: 20px;
  padding: 10px;
}

#headings li a {
  text-decoration: none;
  color: black;
  font-weight: 550;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) ease;
}

#headings li a:hover {
  color: green;
}

/* Banner styles */
#banner {
  background-image: url("Assets/banner.png");
  background-color: transparent;
  height: 99vh;
  width: 100%;
  background-position: top 25% right 0;
  padding: 0 70px;
}

#header marquee {
  background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
}

#banner button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 22px;
  border-radius: 90px;
}

#banner h1 {
  font-family: 'Times New Roman', Times, serif;
}

/* Fashion section */
#fashion {
  display: flex;
  justify-content: space-between;
}

.fashicon1,
.fashicon2,
.fashicon3 {
  background-color: transparent;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 40vh;
  width: 27.5%;
  background-position: top 48% right 0;
  padding: 50px;
  text-align: start;
  min-width: 20%;
  text-align: right;
  margin: 8px;
  box-shadow: 10px 1px 10px rgba(0, 0, 0, 0.10);
  border: 1px solid #cce7d0;
  border-radius: 15px;
}

.fashicon1 h3,
.fashicon2 h3,
.fashicon3 h3 {
  text-align: center;
  padding: 150px 0 0 0;
}

.fashicon1 a,
.fashicon2 a,
.fashicon3 a {
  color: darkblue;
  text-decoration: none;
}

/* Services section */
#services {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.servicon {
  width: 180px;
  text-align: center;
  padding: 25px 0;
  box-shadow: 10px 1px 10px rgba(0, 0, 0, 0.10);
  border: 1px solid whitesmoke;
  border-radius: 40px;
  margin: 5px;
}

/* Top products section */
#topproduct {
  text-align: center;
}

.product {
  width: 23%;
  min-width: 250px;
  padding: 9px 5px;
  margin: 20px;
  position: relative;
  border-radius: 50px;
  border: 2px solid beige;
  transition: border-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product img {
  width: 90%;
}

.product .description {
  text-align: start;
  padding: 10px 0;
}

.product h4 {
  color: #088178;
}

.product i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 10px;
  font-weight: 500px;
  position: absolute;
  bottom: 30px;
  right: 23px;
}

.Collection {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

/* Trending section */
#Trending {
  text-align: center;
}

.product2 {
  width: 23%;
  min-width: 250px;
  padding: 9px 5px;
  margin: 20px;
  position: relative;
  border-radius: 50px;
  border: 2px solid beige;
  transition: border-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product2 img {
  width: 23%;
  min-width: 250px;
  padding: 9px 5px;
  margin: 20px;
  position: relative;
}

.product2 .description {
  text-align: start;
  padding: 10px 0;
}

.product2 h4 {
  color: #088178;
}

.product2 i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 10px;
  font-weight: 500px;
  position: absolute;
  bottom: 30px;
  right: 23px;
}
